body{
    background-image: url(../assets/imgs/bibliotecaImg.jpg);
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 75% auto;
    display: flex;
    overflow-x: hidden;
}
div.body{
    /* background-image: linear-gradient(to top right, #A683E3 40%, #E4E9FD 40.20%); */
    background: linear-gradient(-50deg,#F28705 67%, transparent 0);
    width: 100vw;
    min-height: 100vh;
}

/* input */
.input{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 18rem;
}
label{
    font-size: 1.6rem;
    align-self: flex-end;
}
input{
    width: 60rem;
    height: 3.5rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: .6rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}
.loading{
    text-align: center;
    color: #591b04;
    padding-top: 7rem;
    font-size: 1.4rem;
}