header{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.logo{
    padding-left: 4rem;
}
img{
    width: 13rem;
    height: 13rem;
}
a{
    color: #591B04;
}

nav{
    display: flex;
    gap: 3rem
}

nav > div {
    border: 2px solid #591B04;
    border-radius: 2rem;

    width: 13rem;
    height: 4rem;
    font-size: 1.7rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
}
